---
import Layout from '../layouts/PageLayout.astro';
---

<Layout
	title="About Me"
	description="Nerd, Writer, Gamer, Student, IT, Pen Collector, Tattoo Enthusiast."
	eyebrow="The author"
>
	<p>
		Hi!  I'm the person who fixes your broken tech. I also collect pens,
		tattoos, play games, code for fun, explore new technologies, read, and write! 
	</p>
	<p>
		<strong>Presently,</strong> I'm trying to journal daily and I'm writing a novel.
		Some days it goes better than others. I also collect fountain pens, from vintage pens to
		more modern pens. My favorite pen presently is a Pelikan m800 with a medium nib. I have
		 no idea what ink it is filled with because I have so many inks and not the best short term 
		 memory!
	</p>
	<p>
		Between semesters I'm learning Python. That is also going better some days than others!
	</p>
</Layout>
